.brand {
  background-color: #F4F7FD;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 55px;
  margin-bottom: var(--section-spacing);
  @media screen and (max-width: 1023.98px) {
    gap: 0 20px;
    padding: 20px;
  }
  
}
