section.blog 
  .container
    .blog-container
      .blog-header 
        h2.global-heading.global-heading--big.blog-heading Our Regular Updated Blog Posts
        p.global-text.blog-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
      .blog-list 
        +blogItem("./images/img-blog1.png 2x", "SEO tips and tricks for new", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*", "is-active")
        +blogItem("./images/img-blog2.png 2x", "A Guide to Google SEO", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
        +blogItem("./images/img-blog3.png 2x", "Best Practices SEO Content", "Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti*")
