section.brand 
  .bran-item 
    img(src="./images/brand-google.svg", alt="")
  .bran-item 
    img(src="./images/brand-slack.svg", alt="")
  .bran-item 
    img(src="./images/brand-agworld.svg", alt="")
  .bran-item 
    img(src="./images/brand-riotinto.svg", alt="")
  .bran-item 
    img(src="./images/brand-heroku.svg", alt="")