footer.footer 
  .container
    .footer-main 
      .footer-content 
        .footer-image
          img(srcset="./images/img-footer.png 2x", alt="") 
        p.footer-text Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
        .footer-social 
          a.footer-social-link(href="#!")
            img(srcset="./images/icon-facebook.png 2x")
          a.footer-social-link(href="#!")
            img(srcset="./images/icon-twitter.png 2x")
          a.footer-social-link(href="#!")
            img(srcset="./images/icon-instagram.png 2x")
      ul.footer-list 
        .footer-item 
          h4.footer-heading Services
          +footerItem("Email Marketing Social")
          +footerItem("Media Marketing Search")
          +footerItem("Engine Optimization")
          +footerItem("Prnelnct Devnionmnni")
          +footerItem("Web Development ")
        .footer-item 
          h4.footer-heading Support
          +footerItem(" Sizicik. Community ")
          +footerItem("Support Documents ")
          +footerItem("Help:le-Lk API Documents")
          +footerItem("5nvin,es Witus ")
          +footerItem("Email Contort ")
        .footer-item 
          h4.footer-heading Contact Us
          +footerItem("suppariaringrozom")
          +footerItem("(41) 84?-5E2-451")
          +footerItem("North Cry, 547 Link Road. ")
    .footer-bottom 
      p.footer-bottom-text All Right Reserved by Us! Copyright 2021 
