ul.menu 
  li.menu-item 
    a.menu-link.is-active(href="#!") Home
  li.menu-item 
    a.menu-link(href="#!") Why us?
  li.menu-item 
    a.menu-link(href="#!") Features
  li.menu-item 
    a.menu-link(href="#!") Pricing
  li.menu-item 
    a.menu-link(href="#!") Contact
  li.menu-item 
    a.menu-link(href="#!") Login
  li.menu-item 
    a.menu-link(href="#!") Sign Up