section.subcribe 
  .container
    .subcribe-container
      .subcribe-main
        .subcribe-content 
          h3.global-heading.subcribe-heading Sign up to Our Newsletter
          p.global-text.subcribe-desc You need to get positive results when you spend hard earned revenue and time.
        .subcribe-form 
          input.subcribe-input(type="text", placeholder="Email...")
          button.button.button--primary.btn-sub Subscribe
    